body {
    font-family: 'Quicksand', sans-serif;
    background-color: #f0f0f0;
    color: #333;
    margin: 0;
    padding: 20px;
    text-align: center;
}

.selection-wrapper {
    max-width: 1000px;
    margin: auto;
}

.card-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.card {
    border: 3px solid transparent;
    border-radius: 12px;
    overflow: hidden;
    cursor: pointer;
    transition: 0.3s;
}

.card img {
    width: 100%;
    height: auto;
    display: block;
}

.card.selected {
    border-color: #59D46F;
    box-shadow: 0 0 12px #2E743B;
    transform: scale(1.05);
}

#validateBtn {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #59D46F;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.2s;
}

#validateBtn:disabled {
    background-color: #cccccc;
    cursor: not-allowed;
}
